html{
    background-image: url("../Images/stock_background.jpg");
    height: 100%;
    margin: 0 auto;
}
body{
	height: 100%;
    width: 75%;
	font-size: .875rem;
    margin: 0 auto;
    background: black;

}
header {
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);

}
h1 {
    font-family: 'Copperplate Gothic Light';
    font-size: 80px;
    margin-bottom: 30px;
}
main{
    text-align: center;
}
#favorites{
    padding: 10px;
    width: 75%;
    margin: 0 auto;
    column-count: 2;
    float: left;

}
#editMode{
    float: right;
    visibility: hidden;
    margin: 5px;
}
#add_form{
    visibility: hidden;
    margin: 10px;
}
.stock_box{
    background: white;
    opacity: .5;
    margin: 3px;
    border: solid 1px;
    border-radius: 8px;
    cursor: pointer;
}
.stock_buttons{
    cursor: pointer;
    visibility: hidden;}
.delete_button{
    float:left;
    margin: 5px;
}
.change_button{
    float:right;
    margin: 5px;
}


.glow-on-hover {
    margin: auto;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    float: right;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

