html, body {
    margin:0;
    padding:0;
    height: 100%;
    background: linear-gradient(black, green);
}

h1 {
    margin:0;
}
#stock-info, #stock-graph {
	background: white;
	border-radius: 6px;
	display: block;
}
#stock-graph {
    height: 70%;
}
#dashboardBtn {
    width: 100px;
    border-radius: 6px;
}